<head>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <link rel="stylesheet" type="text/css" href="../assets/demo.css" />
    <link rel="stylesheet" type="text/css" href="../assets/styles.css" />
    <link rel="stylesheet" type="text/css" href="../assets/template.css" />
    <script type="text/javascript" src="../assets/test-credentials.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    
</head>
<body id="markers-on-the-map">
<br>
<div class="form-row" style="margin-left: 50px">
    <a class="btn btn-outline-success">Ajouter un nouveau trajet</a>
</div><center>
<div class="page-header">
    <p>Les chauffeurs et leurs trajets</p>
</div>
<div id="map"></div>

<script type="text/javascript" src="../assets/js/demo.js"></script>
<script src="../assets/js/jquery-3.3.1.js"></script>

</center>
</body>
